<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/global_styles.css" />
    <link rel="stylesheet" href="../public/styles/about_page.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ttp2moi.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../public/images/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/images/favicon/favicon-16x16.png"
    />
    <title>ABOUT</title>
  </head>
  <body>
    <header class="header-static">
      <section id="header-float-section">
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
      </section>
      <span id="header-border-bottom"></span>
    </header>
    <main class="main-half">
      <section class="about-info-section">
        <div class="about-left-section">
          <p class="about-title">ABOUT</p>
        </div>
        <div class="about-right-section">
          <div class="about-text">
            워크샵피 스튜디오는 전체적인 공간을 구성하는 브랜딩 및 공간 디자인을
            기획하는 디자인 스튜디오입니다.
            <br /><br />
            WORKSHOP P is a design studio specialized in branding and design of
            a space.
          </div>
        </div>
        <span class="about-info-border-bottom"></span>
      </section>
      <section class="about-info-section">
        <div class="about-left-section">
          <p class="about-title">CONTACT</p>
        </div>
        <div class="about-right-section">
          <div class="about-text">
            프로젝트 문의는
            <a
              href="mailto:contact.workshopp@gmail.com"
              class="link"
              target="_blank"
              >CONTACT.WORKSHOPP@GMAIL.COM</a
            >
            로 남겨주시면 회신 드리겠습니다.
            <div class="link-wrapper">
              <a href="http://kko.to/fIxiwLugjT" class="link" target="_blank"
                >A. 서울 마포구 신촌로 190-22</a
              ><br />
              <a href="tel:01090454889" class="link" target="_blank"
                >P. (+82) 010 9045 4889</a
              ><br />
              <a href="tel:01033292387" class="link" target="_blank"
                >P. (+82) 010 3329 2387</a
              ><br />
              <a
                href="https://www.instagram.com/workshopp.seoul/"
                class="link"
                target="_blank"
                >IG. @WORKSHOPP.SEOUL</a
              ><br />
            </div>
          </div>
        </div>
        <span class="about-info-border-bottom"></span>
      </section>
      <section id="about-map-section">
        <div class="about-left-section">
          <p class="about-title">MAP</p>
        </div>
        <div class="about-right-section">
          <div id="map" style="width: 100%; height: 100%"></div>
        </div>
      </section>
      <span id="about-half-border"></span>
    </main>
    <footer id="footer">
      <div id="footer-wrapper">
        <span id="footer-border-top"></span>
        <p id="footer-text">©️ WORKSHOP P STUDIO 2023</p>
      </div>
    </footer>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=369d11f7743c46d1b9492478e2c0a542"
    ></script>
    <script src="../public/javascripts/global.js"></script>
    <script src="../public/javascripts/about.js"></script>
  </body>
</html>
