<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/global_styles.css" />
    <link rel="stylesheet" href="../public/styles/works_page.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ttp2moi.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../public/images/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/images/favicon/favicon-16x16.png"
    />
    <title>WORKS</title>
  </head>
  <body>
    <header class="header-static">
      <section id="header-float-section">
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
        <img
          onclick="goToHome()"
          src="../public/images/WKSP_logo_full.png"
          alt="workshop-p logo"
          id="header-logo"
        />
      </section>
      <span id="header-border-bottom"></span>
    </header>
    <section id="works-sliding-text-wrapper">
      <div id="text-wrapper">
        <p class="works-sliding-text">워크샵피의 프로젝트를 소개합니다.</p>
        <p class="works-sliding-text">워크샵피의 프로젝트를 소개합니다.</p>
        <p class="works-sliding-text">워크샵피의 프로젝트를 소개합니다.</p>
        <p class="works-sliding-text">워크샵피의 프로젝트를 소개합니다.</p>
        <p class="works-sliding-text">워크샵피의 프로젝트를 소개합니다.</p>
        <p class="works-sliding-text">워크샵피의 프로젝트를 소개합니다.</p>
        <p class="works-sliding-text">워크샵피의 프로젝트를 소개합니다.</p>
        <p class="works-sliding-text">워크샵피의 프로젝트를 소개합니다.</p>
      </div>
      <span id="works-sliding-border-bottom"></span>
    </section>
    <main id="works-main">
      <section id="works-left-section">
        <table id="works-list">
          <th>NO.</th>
          <th>YEAR</th>
          <th>TYPE</th>
          <th>LOCATION</th>
        </table>
        <div id="preview-img">
          <img
            src="../public/images/works_img/w_001.JPG"
            id="prev-img-source"
            class="slide-img"
            title="WORKSHOP P Preview Image"
            alt="workshop-p project preview image"
          />
        </div>
      </section>
      <section id="works-right-section">
        <div id="slider">
          <div id="main-img">
            <img
              src=""
              id="main-img-source"
              class="slide-img"
              title="WORKSHOP P Main Image"
              alt="workshop-p project image"
            />
          </div>
        </div>
        <div id="cursor-text">CURSOR</div>
      </section>
      <span id="works-half-border"></span>
    </main>
    <footer id="footer">
      <div id="footer-wrapper">
        <span id="footer-border-top"></span>
        <p id="footer-text">©️ WORKSHOP P STUDIO 2023</p>
      </div>
    </footer>
    <script src="../public/javascripts/global.js"></script>
    <script type="module" src="../public/javascripts/works.js"></script>
  </body>
</html>
